@font-face {
	font-family: 'adelphe trouble bold italic';
	src: url('fonts/Adelphe-Trouble-FlorealBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'adelphe trouble italic';
	src: url('fonts/Adelphe-Trouble-FlorealItalic.woff') format('woff');
}

@font-face {
	font-family: 'adelphe';
	src: url('fonts/Adelphe-GerminalRegular.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	min-height: 100vh;
	/* Sécurité pour éviter tout défilement horizontal indésirable sur mobile */
	overflow-x: hidden;
}

html,
body,
a,
button,
li,
summary,
* {
	cursor: none !important;
}

#custom-cursor {
	width: 32px;
	height: 32px;
	position: fixed;
	pointer-events: none;
	z-index: 200;
	background-image: url("img/point.svg");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
	will-change: transform;
}

.page {
	position: relative;
	z-index: 10;
	min-height: 100vh;
	padding: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* On s'assure que le conteneur ne dépasse pas la largeur de l'écran */
	width: 100vw;
}

h1 {
	font-family: 'adelphe trouble italic', serif;
	/* Remplacement de 10rem par clamp(min, idéal, max) */
	font-size: clamp(3rem, 15vw, 10rem);
	color: #000000;
	line-height: 1;
	text-align: center;
	/* Remplacement de max-content par 100% pour autoriser le texte à s'adapter */
	width: 100%;
	padding: 0 10px;
	
}


h2 {
	font-family: 'adelphe trouble italic', serif;
	/* Remplacement de 10rem par clamp(min, idéal, max) */
	font-size: clamp(2rem, 2.5vw, 7rem);
	color: #000000;
	line-height: 1;
	text-align: center;
	/* Remplacement de max-content par 100% pour autoriser le texte à s'adapter */
	width: 100%;
	padding: 0 10px;
	margin-bottom: 55vh;
}



p {
	font-family: 'adelphe', serif;
	/* Remplacement de 3rem par une police fluide */
	font-size: clamp(1.2rem, 4vw, 3rem);
	color: #000000;
	line-height: 1;
	text-align: justify;
	text-align-last: justify;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
}


.work {
	color: black;
	text-decoration: none;
	display: inline-block;

}

a:hover {
	color: lightgray;
}

.lien {
	color: black;
	text-decoration: none;
}


.moi {
	font-family: 'adelphe', serif;
	/* Remplacement de 3rem par une police fluide */
	font-size: clamp(1.2rem, 4vw, 3rem);
	color: #000000;
	line-height: 1;
	text-align: justify;
	text-align-last: justify;
	position: relative;
	margin-top: auto;
	width: 100%;
	padding: 5px;
}


/*
.moi {
	font-family: 'adelphe', serif;
	/* Remplacement de 3rem par une police fluide */
font-size: clamp(1.5rem, 2.5vw, 2rem);
color: #000000;
line-height: 1;
text-align: left;
bottom: 0;
padding: 5px;
}

*/